<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CYOA</title>
	<link rel="stylesheet" href="/public/styles/styles.css">
	<script src="/public/scripts/app.js"></script>
</head>
<body>
	<h1>HELLO WORLD</h1>
</body>
</html>