<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 jumbotron">
			<ul>
				<%  @users.each do |user| %>
				<li>Name: <%= user.name %> -- <%= user.score %></li>
				<%= button_to 'Increment', users_index_path, :class => 'btn btn-primary' %>
				<hr>
				<% end %>
			</ul>			
		</div>
	</div>
</div>